body {
    background-color:rgb(85, 107, 48);
    color:black;
    font-size:large;
    font-family:'Times New Roman', Times, serif;
}
h1 {
    color:rgb(230, 5, 5);
    border-bottom:rgb(230, 5, 5);
    font-size:16px;
    text-align:center;
    text-transform: uppercase;
}
a:link {
    color:rgb(230, 5, 5);
}
a:visited{
    color:rgb(230, 5, 5);
}
a:hover{
    color:rgb(21, 10, 235);
}
img {
    border-style: solid;
    border-color:rgb(230, 5, 5);
    border-width: 1px;
    padding:10px;
    width:250px;
    opacity:0.5;
}